# Spring Boot配置文件（所有子模块都生效）
**/application.yml
**/application-dev.yml
**/application-prod.yml
**/application-test.yml
**/bootstrap.yml
**/bootstrap-dev.yml
**/bootstrap-prod.yml
**/bootstrap-test.yml

# 保留模板文件
!**/*.yml.example
!**/*.yaml.example